{% extends 'base.html.twig' %}

{% block title %}New Rehabilitaciones{% endblock %}

{% block body %}
    <h1>Create new Rehabilitaciones</h1>

    {{ include('rehabilitaciones/_form.html.twig') }}

    <a href="{{ path('app_rehabilitaciones_index') }}">back to list</a>
{% endblock %}
