<h1>Hola! Por favor confirma tu email!</h1>

<p>
    Por favor confirm tu direccion de email haciendo click en el siguiente enlace: <br><br>
    <a href="{{ signedUrl }}">Confirmar mi Email</a>.
    Este Link expirará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Saludos!
</p>
