{% extends 'base.html.twig' %}

{% block title %}Email para resetear Password{% endblock %}

{% block body %}
    <p>
        Si tu cuenta coincide con email existente, se enviará email que contendrá un link para resetear tu password.
        Este link espira en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si no recibes un email, por favor revisa tu carpeta de spam o <a href="{{ path('app_forgot_password_request') }}">intentalo de nuevo</a>.</p>
{% endblock %}
