{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Resetear tu password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Introduce una direccion de email para enviar link para resetear password.
            </small>
        </div>

        <button class="btn btn-primary">Enviar Reset password a email</button>
    {{ form_end(requestForm) }}
{% endblock %}
