{% extends 'base.html.twig' %}

{% block title %}New Turnos{% endblock %}

{% block body %}
    <h1>Create new Turnos</h1>

    {{ include('turnos/_form.html.twig') }}

    <a href="{{ path('app_turnos_index') }}">back to list</a>
{% endblock %}
