{% extends 'base.html.twig' %}

{% block title %}Edit Vacaciones{% endblock %}

{% block body %}
    <h1>Edit Vacaciones</h1>

    {{ include('vacaciones/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vacaciones_index') }}">back to list</a>

    {{ include('vacaciones/_delete_form.html.twig') }}
{% endblock %}
