{% extends 'base.html.twig' %}

{% block title %}New Vacaciones{% endblock %}

{% block body %}
    <h1>Create new Vacaciones</h1>

    {{ include('vacaciones/_form.html.twig') }}

    <a href="{{ path('app_vacaciones_index') }}">back to list</a>
{% endblock %}
