{% extends 'base.html.twig' %}

{% block title %} Inicio{% endblock %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Gestion de Hospitales</h2>                    
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
            
                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}