{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <div class="sidenav">
                            <div class="login-main-text">
                                <h2>Clinica Fisioterapia<br> Pagina Inicio</h2>
                                <p>Conectarse o Registrarse.</p>
                            </div>
                        </div>
                        <div class="main">
                            <div class="col-md-6 col-sm-12">
                                <div class="login-form">
                                    <form method="POST" action="{{ path('conexionApp') }}">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" placeholder="Email" name="txtEmail"  id="txtEmail">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control" placeholder="Password" name="txtPassword"  id="txtPassword">
                                        </div>
                                        <br><br>
                                        {# Añadimos dos botones con mismo name y diferentes values #}
                                        <button type="submit" class="btn btn-primary" name="login" value="conexion">
                                            Login
                                        </button>
                                        <button type="submit" class="btn btn-primary" name="login" value="registrar">
                                            Registrase
                                        </button>
                                    </form>

                                    {% if mensaje is defined %}
                                        <h2 style="color:red;">{{ mensaje }} </h2>   
                                    {% endif %}  

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}