{# Menu para Volver a Pagina Anterior #}
<nav id="mainNav" class="navbar navbar-light navbar-expand-md navbar-shrink py-4">
    <div class="container-fluid">
    <ul class="nav nav-pills nav-fill justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('mostrarCitasAdmin', {idfacultativo: datosFacultativo.idfacultativo, idpaciente: datosPaciente.idpaciente}) }}"><i class="fa fa-step-backward" aria-hidden="true"></i> Seleccionar otra Fecha</a>
        </li>
    </ul>
</nav>

   