<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-wine-glass"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Gestión Hospital</span></div>
        </a>
        <ul class="navbar-nav">

            {# Si esta conectado un Paciente mostramos el menu de Pacientes #}
            {% if is_granted('ROLE_PACIENTE')} %}
                <li class="nav-item"><a class="nav-link active" href="/altaHospital">Editar Perfil</a></li>
                <li class="nav-item"><a class="nav-link" href="/borrarHospital">Pedir Cita</a></li>
                <li class="nav-item"><a class="nav-link" href="/modificarHospital">Cerrar Sesion</a></li>
            {% endif %}

            {# Si esta conectado un Facultativo mostramos el menu de Facultativos #}
            {% if is_granted('ROLE_PACIENTE')} %}
                <li class="nav-item"><a class="nav-link active" href="/altaHospital">Editar Perfil</a></li>
                <li class="nav-item"><a class="nav-link" href="/datosHospitales">Vacaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="/borrarHospital">Informes Paciente</a></li>
                <li class="nav-item"><a class="nav-link" href="/modificarHospital">Rehabilitacion Paciente</a></li>
                <li class="nav-item"><a class="nav-link" href="/datosHospitales">Solicitar Cita Paciente</a></li>
                <li class="nav-item"><a class="nav-link" href="/modificarHospital">Cerrar Sesion</a></li>
            {% endif %}

            {# Si esta conectado un Administrativo mostramos el menu de Administrativos #}
            {% if is_granted('ROLE_PACIENTE')} %}
                <li class="nav-item"><a class="nav-link active" href="/altaHospital">Editar Perfil</a></li>
                <li class="nav-item"><a class="nav-link" href="/datosHospitales">Turnos</a></li>
                <li class="nav-item"><a class="nav-link" href="/datosHospitales">Vacaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="/datosHospitales">Especialidades</a></li>
                <li class="nav-item"><a class="nav-link" href="/borrarHospital">Aseguradoras</a></li>
                <li class="nav-item"><a class="nav-link" href="/modificarHospital">Altas Usuarios</a></li>
                <li class="nav-item"><a class="nav-link" href="/datosHospitales">Solicitar Cita Paciente</a></li>
                <li class="nav-item"><a class="nav-link" href="/modificarHospital">Cerrar Sesion</a></li>
            {% endif %}

        </ul>
        <hr class="sidebar-divider my-0" />
    </div>
</nav>