{# Menu para Volver a Pagina Anterior #}
<nav id="mainNav" class="navbar navbar-light navbar-expand-md navbar-shrink py-3">
    <div class="container-fluid">
    <ul class="nav nav-pills nav-fill justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('buscarVacacionesFacultativo') }}"><i class="fa fa-step-backward" aria-hidden="true"></i> Volver a Facultativos</a>
        </li>
    </ul>
</nav>

   