{% extends 'base.html.twig' %}

{% block title %}New Aseguradoras{% endblock %}

{% block body %}
    <h1>Create new Aseguradoras</h1>

    {{ include('aseguradoras/_form.html.twig') }}

    <a href="{{ path('app_aseguradoras_index') }}">back to list</a>
{% endblock %}
