{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <section>
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-12">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="row mb-4 mb-lg-5">
                                {# Incluimos el Menu de Facultativo #}
                                {% include 'menuFacultativo.html.twig' %}
                            </div>
                            <div class="row mb-4 mb-lg-5">
                                    <p class="fw-bold text-success mb-2">Intranet - Menu Facultativo</p>
                                    <h6 class="fw-bold">Seleccione una opción del menu superior</h6>
                            </div>

                            {% if mensaje is defined %}
                                <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                                    {{mensaje}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {# <h3 style="color:blue;"> {{mensaje}} </h3> #}
                            {% endif %}   
                            
                            <footer class="bg-primary-gradient">
                                <div class="container py-4 py-lg-5">
                                <hr />
                                    <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                                        <p class="mb-0">Copyright © 2022 FisioSalud</p>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}