{% extends 'base.html.twig' %}

{% block title %}Edit Especialidades{% endblock %}

{% block body %}
    <h1>Edit Especialidades</h1>

    {{ include('especialidades/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_especialidades_index') }}">back to list</a>

    {{ include('especialidades/_delete_form.html.twig') }}
{% endblock %}
