{% extends 'base.html.twig' %}

{% block title %}New Especialidades{% endblock %}

{% block body %}
    <h1>Create new Especialidades</h1>

    {{ include('especialidades/_form.html.twig') }}

    <a href="{{ path('app_especialidades_index') }}">back to list</a>
{% endblock %}
